name: LinkedIn Post Generator

on:
  schedule:
    - cron: "0 3 * * 1,4"   # Monday & Thursday
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    env:
  SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
  EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
  RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
  GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}


    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install google-generativeai

      - name: Run script
        run: python linkedin_content.py
